<div class="conteiner p-4">
    <div class="row">
        <div class="col-dm-4">

            <form action="/answers/" name="answers" method="POST">

                <h4 class="mb-3 text-center" name="Desempreño_Docente" id="Desempreño_Docente">
                    Desempreño Docente
                </h4>

                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            1.- El método de enseñanza que utiliza el profesor te parece adecuado
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p1" id="p1_1" value="1">
                            <label class="form-check-label" for="p1_1">
                                1 
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p1" id="p1_2" value="2">
                            <label class="form-check-label" for="p1_2">
                                2 
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p1" id="p1_3" value="3">
                            <label class="form-check-label" for="p1_3">
                                3 
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p1" id="p1_4" value="4">
                            <label class="form-check-label" for="p1_4">
                                4 
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p1" id="p1_5" value="5">
                            <label class="form-check-label" for="p1_5">
                                5 
                            </label>

                        </div>

                    </div>
                </div>

                <br>

                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            2.- El profesor asistió a todas sus clases durante la semana
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p2" id="p2_1" value="1">
                            <label class="form-check-label" for="p2_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p2" id="p2_2" value="2">
                            <label class="form-check-label" for="p2_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p2" id="p2_3" value="3">
                            <label class="form-check-label" for="p2_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p2" id="p2_4" value="4">
                            <label class="form-check-label" for="p2_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p2" id="p2_5" value="5">
                            <label class="form-check-label" for="p2_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>

                <br>

                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            3.- El profesor acepta que los alumnos tengas posturas (pensamientos e ideas) diferentes a las que el plantea
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p3" id="p3_1" value="1">
                            <label class="form-check-label" for="p3_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p3" id="p3_2" value="2">
                            <label class="form-check-label" for="p3_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p3" id="p3_3" value="3">
                            <label class="form-check-label" for="p3_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p3" id="p3_4" value="4">
                            <label class="form-check-label" for="p3_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p3" id="p3_5" value="5">
                            <label class="form-check-label" for="p3_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            4.- Los temas que se estudiaron en esta semana se encuentran dentro de los contenidos programados
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p4" id="p4_1" value="1">
                            <label class="form-check-label" for="p4_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p4" id="p4_2" value="2">
                            <label class="form-check-label" for="p4_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p4" id="p4_3" value="3">
                            <label class="form-check-label" for="p4_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p4" id="p4_4" value="4">
                            <label class="form-check-label" for="p4_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p4" id="p4_5" value="5">
                            <label class="form-check-label" for="p4_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            5.- El profesor fomenta la participación tanto de hombres como de mujeres
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p5" id="p5_1" value="1">
                            <label class="form-check-label" for="p5_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p5" id="p5_2" value="2">
                            <label class="form-check-label" for="p5_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p5" id="p5_3" value="3">
                            <label class="form-check-label" for="p5_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p5" id="p5_4" value="4">
                            <label class="form-check-label" for="p5_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p5" id="p5_5" value="5">
                            <label class="form-check-label" for="p5_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            6.- La clase fue planeada y preparada previo a ser presentada por el profesor
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p6" id="p6_1" value="1">
                            <label class="form-check-label" for="p6_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p6" id="p6_2" value="2">
                            <label class="form-check-label" for="p6_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p6" id="p6_3" value="3">
                            <label class="form-check-label" for="p6_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p6" id="p6_4" value="4">
                            <label class="form-check-label" for="p6_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p6" id="p6_5" value="5">
                            <label class="form-check-label" for="p6_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            7.- El profesor presenta suficiente material didáctico en las clases
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p7" id="p7_1" value="1">
                            <label class="form-check-label" for="p7_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p7" id="p7_2" value="2">
                            <label class="form-check-label" for="p7_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p7" id="p7_3" value="3">
                            <label class="form-check-label" for="p7_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p7" id="p7_4" value="4">
                            <label class="form-check-label" for="p7_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p7" id="p7_5" value="5">
                            <label class="form-check-label" for="p7_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            8.- El profesor muestra profesionalismo en la clase
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p8" id="p8_1" value="1">
                            <label class="form-check-label" for="p8_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p8" id="p8_2" value="2">
                            <label class="form-check-label" for="p8_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p8" id="p8_3" value="3">
                            <label class="form-check-label" for="p8_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p8" id="p8_4" value="4">
                            <label class="form-check-label" for="p8_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p8" id="p8_5" value="5">
                            <label class="form-check-label" for="p8_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>

                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            9.- El profesor presenta conocimiento y dominio de la materia
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p9" id="p9_1" value="1">
                            <label class="form-check-label" for="p9_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p9" id="p9_2" value="2">
                            <label class="form-check-label" for="p9_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p9" id="p9_3" value="3">
                            <label class="form-check-label" for="p9_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p9" id="p9_4" value="4">
                            <label class="form-check-label" for="p9_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p9" id="p9_5" value="5">
                            <label class="form-check-label" for="p9_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>

                <br>
                <br>

                <h4 class="mb-3 text-center" name="Desempreño_Estudiantil" id="Desempreño_Estudiantil">
                    Desempreño Estudiantil
                </h4>

                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            10.- Asistí a todas las clases de la semana
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p10" id="p10_1" value="1">
                            <label class="form-check-label" for="p10_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p10" id="p10_2" value="2">
                            <label class="form-check-label" for="p10_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p10" id="p10_3" value="3">
                            <label class="form-check-label" for="p10_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p10" id="p10_4" value="4">
                            <label class="form-check-label" for="p10_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p10" id="p10_5" value="5">
                            <label class="form-check-label" for="p10_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            11.- Estoy satisfecho con los aprendizajes obtenidos después de cada clase
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p11" id="p11_1" value="1">
                            <label class="form-check-label" for="p11_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p11" id="p11_2" value="2">
                            <label class="form-check-label" for="p11_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p11" id="p11_3" value="3">
                            <label class="form-check-label" for="p11_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p11" id="p11_4" value="4">
                            <label class="form-check-label" for="p11_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p11" id="p11_5" value="5">
                            <label class="form-check-label" for="p11_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            12.- Vivo un ambiente de respeto en el salón de clases
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p12" id="p12_1" value="1">
                            <label class="form-check-label" for="p12_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p12" id="p12_2" value="2">
                            <label class="form-check-label" for="p12_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p12" id="p12_3" value="3">
                            <label class="form-check-label" for="p12_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p12" id="p12_4" value="4">
                            <label class="form-check-label" for="p12_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p12" id="p12_5" value="5">
                            <label class="form-check-label" for="p12_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            13.- Asisto puntualmente a las clases
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p13" id="p13_1" value="1">
                            <label class="form-check-label" for="p13_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p13" id="p13_2" value="2">
                            <label class="form-check-label" for="p13_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p13" id="p13_3" value="3">
                            <label class="form-check-label" for="p13_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p13" id="p13_4" value="4">
                            <label class="form-check-label" for="p13_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p13" id="p13_5" value="5">
                            <label class="form-check-label" for="p13_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            14.- Atiendo las explicaciones que da el profesor
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p14" id="p14_1" value="1">
                            <label class="form-check-label" for="p14_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p14" id="p14_2" value="2">
                            <label class="form-check-label" for="p14_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p14" id="p14_3" value="3">
                            <label class="form-check-label" for="p14_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p14" id="p14_4" value="4">
                            <label class="form-check-label" for="p14_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p14" id="p14_5" value="5">
                            <label class="form-check-label" for="p14_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            15.- El profesor resolvió todas mis dudas
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p15" id="p15_1" value="1">
                            <label class="form-check-label" for="p15_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p15" id="p15_2" value="2">
                            <label class="form-check-label" for="p15_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p15" id="p15_3" value="3">
                            <label class="form-check-label" for="p15_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p15" id="p15_4" value="4">
                            <label class="form-check-label" for="p15_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p15" id="p15_5" value="5">
                            <label class="form-check-label" for="p15_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            16.- Considero adecuado que las mujeres estudien ingeniería
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p16" id="p16_1" value="1">
                            <label class="form-check-label" for="p16_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p16" id="p16_2" value="2">
                            <label class="form-check-label" for="p16_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p16" id="p16_3" value="3">
                            <label class="form-check-label" for="p16_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p16" id="p16_4" value="4">
                            <label class="form-check-label" for="p16_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p16" id="p16_5" value="5">
                            <label class="form-check-label" for="p16_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            17.- Realizo las tareas y trabajos que se plantean en clase y aquellas/os extraclase
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p17" id="p17_1" value="1">
                            <label class="form-check-label" for="p17_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p17" id="p17_2" value="2">
                            <label class="form-check-label" for="p17_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p17" id="p17_3" value="3">
                            <label class="form-check-label" for="p17_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p17" id="p17_4" value="4">
                            <label class="form-check-label" for="p17_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p17" id="p17_5" value="5">
                            <label class="form-check-label" for="p17_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            18.- Las opiniones y soluciones de mis compañeros (hombres) son una aportación importante para la clase
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p18" id="p18_1" value="1">
                            <label class="form-check-label" for="p18_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p18" id="p18_2" value="2">
                            <label class="form-check-label" for="p18_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p18" id="p18_3" value="3">
                            <label class="form-check-label" for="p18_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p18" id="p18_4" value="4">
                            <label class="form-check-label" for="p18_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p18" id="p18_5" value="5">
                            <label class="form-check-label" for="p18_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            19.- Las opiniones y soluciones de mis compañeras (mujeres) son una aportación importante para la clase
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p19" id="p19_1" value="1">
                            <label class="form-check-label" for="p19_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p19" id="p19_2" value="2">
                            <label class="form-check-label" for="p19_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p19" id="p19_3" value="3">
                            <label class="form-check-label" for="p19_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p19" id="p19_4" value="4">
                            <label class="form-check-label" for="p19_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p19" id="p19_5" value="5">
                            <label class="form-check-label" for="p19_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>

                <br>
                <br>

                <h4 class="mb-3 text-center" name="Identidad_Institucional" id="Identidad_Institucional">
                    Identidad Institucional
                </h4>

                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            20.- Recomendarías a otras personas estudiar Ingeniería en Sistemas Inteligentes en la UAEMex
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p20" id="p20_1" value="1">
                            <label class="form-check-label" for="p20_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p20" id="p20_2" value="2">
                            <label class="form-check-label" for="p20_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p20" id="p20_3" value="3">
                            <label class="form-check-label" for="p20_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p20" id="p20_4" value="4">
                            <label class="form-check-label" for="p20_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p20" id="p20_5" value="5">
                            <label class="form-check-label" for="p20_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>
                
                <br>
                
                <div class="card mx-auto" style="width: auto">
                    <div class="form-group">

                        <p class="card-header">
                            21.- Te sientes identificado con la carrera y su plan de estudios 
                        </p>

                        <div class="card-body">
                            <input class="form-check-input" required="required" type="radio" name="p21" id="p21_1" value="1">
                            <label class="form-check-label" for="p21_1">
                                1
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p21" id="p21_2" value="2">
                            <label class="form-check-label" for="p21_2">
                                2
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p21" id="p21_3" value="3">
                            <label class="form-check-label" for="p21_3">
                                3
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p21" id="p21_4" value="4">
                            <label class="form-check-label" for="p21_4">
                                4
                            </label>

                            <input class="form-check-input" required="required" type="radio" name="p21" id="p21_5" value="5">
                            <label class="form-check-label" for="p21_5">
                                5
                            </label>

                        </div>

                    </div>
                </div>

                <br>
                <br>

                <div class="form-group mx-auto" style="width: auto">
                    <button class="btn btn-success btn block">
                        Enviar Respuestas
                    </button>
                </div>

            </form>

        </div>
    </div>
</div>